server {
  listen 80;
  listen [::]:80;
  server_name mail.mkfs.fr;

  location / {
    root /srv/http/webmail/;
    index index.php;
  }

  location ~ \.php$ {
    root           /srv/http/webmail/;
    fastcgi_pass   unix:/run/php-fpm/php-fpm.sock;
    index          index.php;
    include        fastcgi.conf;
  }
}